# =========================
# Dependencies
# =========================
**/node_modules

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
logs/
*.log
*.pid
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Build Output
# =========================
dist/
build/

# =========================
# Expo
# =========================
.expo/
.expo-shared/

# =========================
# React Native
# =========================
web-build/

# =========================
# Android
# =========================
android/.gradle/
android/app/build/

# =========================
# iOS
# =========================
ios/build/

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Testing
# =========================
coverage/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary Files
# =========================
*.tmp
*.temp

# =========================
# Database Files
# =========================
*.sqlite
*.db

# =========================
# Docker
# =========================
docker-compose.override.yml